<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">
  <title>Title</title>
</head>

<body class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- 見出し -->
        <h2 class="border-bottom mt-5 mb-4" th:text="#{inquiry}"></h2>
        <!-- フォーム -->
        <form th:action="@{/}" method="post" novalidate th:object="${inquiry}">
          <!-- お名前 -->
          <div class="form-group mb-3">
            <label for="name" th:text="#{name}"></label>
            <input type="text" class="form-control" th:field="*{name}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{name}"></div>
          </div>
          <!-- Email -->
          <div class="form-group mb-3">
            <label for="email" th:text="#{email}"></label>
            <input type="text" class="form-control" th:field="*{email}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{email}"></div>
          </div>
          <!-- お問い合わせ -->
          <div class="form-group mb-3">
            <label for="inquiry" th:text="#{inquiry}"></label>
            <textarea rows="3" class="form-control" th:field="*{inquiry}" th:errorclass="is-invalid"></textarea>
            <div class="invalid-feedback" th:errors="*{inquiry}"></div>
          </div>
          <!-- 登録ボタン -->
          <button type="submit" class="btn btn-primary btn-lg w-100 mt-2" th:text="#{register}"></button>
        </form>
      </div>
    </div>
  </div>

  <script th:src="@{webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>